<h1><%= meetup.title %></h1>

<h2>Meetups:</h2>
<ul>
  <li><h3>what?:</h3>
    <%= meetup.description %>
  </li>
  <li><h3>where?:</h3>
    <%= meetup.location %>
  </li>
  <li><h3>when?:</h3>
    <%= meetup.date %>
  </li>
</ul>
